<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Three.js 3D 模型展示</title>
    <style>
        body { margin: 0; }
        canvas { display: block; }
    </style>
</head>
<body>

    <!-- 引入Three.js、OrbitControls和FBXLoader-->
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.1/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.1/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.1/examples/js/loaders/FBXLoader.js"></script>
    <script src="https://unpkg.com/fflate@0.7.4/umd/index.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- 引用分離的 JavaScript 文件 -->

</body>
</html>






