<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>錄音範例</title>
</head>
<body>
<button id="startRecord">開始錄音</button>
<button id="stopRecord" >停止錄音</button>
<audio id="audioPlayer" controls></audio>

  
   


<script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var mediaRecorder;
    
    let play = document.getElementById("stopRecord");
            function playMusic() {
             let audio = new Audio("C:\Users\\60832\\OneDrive\\文件\\fin\\ikun.wav");
             audio.play()
          }
          play.addEventListener("click", playMusic);
        
    

    document.getElementById('startRecord').onclick = function() {
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.start();

                mediaRecorder.ondataavailable = function(e) {
                    var reader = new FileReader();
                    reader.onloadend = function() {
                        socket.emit('audio_data', reader.result);
                    };
                    reader.readAsArrayBuffer(e.data);
                };

                document.getElementById('startRecord').disabled = true;
                document.getElementById('stopRecord').disabled = false;
            });
    };


    document.getElementById('stopRecord').onclick = function() {
        mediaRecorder.stop();
        document.getElementById('startRecord').disabled = false;
        document.getElementById('stopRecord').disabled = true;
           
    };
    

    socket.on('audio_ready', function() {
        var audioPlayer = document.getElementById('audioPlayer');
        audioPlayer.src = '/play_audio';
    });
</script>
</body>
</html>