<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App with Sidebar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
</head>

<body>
     <!-- 背景影片 -->
     <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='picture/home_background.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- 左側導航欄 -->
    <div class="sidebar">
        <div class="button-container">
            <button class="button" id="chat-mode-button" onclick="window.location.href='/chat'">聊天模式</button>
            <button class="button" id="ai-question-button" onclick="window.location.href='/qa'">機智問答</button>
        </div>
    </div>

    <!-- 引入Three.js、OrbitControls和FBXLoader-->
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.1/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.1/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.1/examples/js/loaders/FBXLoader.js"></script>
    <script src="https://unpkg.com/fflate@0.7.4/umd/index.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
